.btn-orange {
    background-color: orange;
}
// .btn-position{
//     margin-left: 90%;
//     margin-top: 30px;
//     margin-bottom: 20px;
// }
.btn-background{
    background-color: black;
    padding-left: 70%;
    padding-top: 30px;
    padding-bottom: 20px;
}

.b{
    background-color: #f6f5f2;
}

.a{
    padding-left: 50px;
}

.e{
    padding-left: 20px;
}

.f{
    padding-left: 20px;
}

.g{
    padding-left: 10px;
}

.c{
    padding-top: 50px;
    padding-left: 150px;
    padding-right:60px ;
}

.d{
    padding-top: 50px;
    padding-left: 50px;
}